out
dist
.pytest_cache
server/downloads
server/.update-staging
server/backups
server/update-state.json

pnpm-lock.yaml
LICENSE.md

auto-eslint.mjs
auto-imports.d.ts
components.d.ts
native/*/index.d.ts
